name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  PROTOC_VERSION: 3.23.4
  RUSTFLAGS: "-D warnings"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: hecrj/setup-rust-action@v1

    - run: rustup target add wasm32-unknown-unknown

    - name: Install protoc
      uses: taiki-e/install-action@v2
      with:
        tool: protoc@${{ env.PROTOC_VERSION }}

    - name: Run tests
      run: cargo test --verbose
